<template>
    <div>
        <router-view/>
    </div>
</template>

<script>
    export default {
        name:'Main',
        mounted(){
            const plugin = document.createElement('script')
            plugin.setAttribute('src','/js/myscripts/scriptMain.js')
            plugin.async = true
            document.head.appendChild(plugin)
        }
    }   
</script>
