<template>
 <div>
             <div class="card mb-4">
            <div class="card-header">
                Todas los Juegos
            </div>
            <div class="card-body">
                <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nombre del juego</th>

     <th scope="col">precio</th>
     <th scope="col">enlace</th>
    <th scope="col">fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(post,category,index) in get_posts_user.data" :key="index" :value="category.id" >
      <th scope="row">{{index}}</th>
      <td>{{post.title}}</td>
           <td>{{post.monto}}</td>
        
        <td>{{post.archive}}</td>
          <td>{{post.added}}</td>



    </tr>
    
  </tbody>
</table>
 </div> </div> </div>    

</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'UserPosts',
    name:'AllGame',
    
       computed:{
        ...mapGetters({
              get_posts_user:'post/get_posts_user',
              getCategorys:'category/get_all_categorys'
        })
    },
    methods:{
        ...mapActions({
            get_all_post_user:'post/getAllPostUser',
            delete_post:'post/deletePost',
             get_all_categorys:'category/getCategorysAll'
        }),
    
    
    },
        mounted(){
               this.get_all_post_user(),
                this.get_all_categorys()
    }
    }

</script>
