<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                Crear nuevo videojuego
            </div>
            <div class="card-body">
                    <form  @submit.prevent = "submit">
                        <div class="form-group">
                            <label for="title">Titulo</label>
                            <input class="form-control" id="title" name="title"  type="text" placeholder="Titulo" v-model="form.title" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="category">Categoria</label>
                            <select class="form-control" id="category" name="category" v-model="form.category">
                                <option selected="true" disabled="disabled" value="">Seleccione una categoria</option>
                                <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="title">Imagen</label>
                            <input class="form-control" id="image" name="image"  type="file" placeholder="Subir Imagen" v-on:change="onImageChange">
                        </div>
                        <div class="form-group">
                            <label for="body">Contenido</label>
                            <textarea class="form-control" id="body" rows="3" v-model="form.body"></textarea>
                        </div>
                            <div class="form-group">
                            <label for="body">Precio</label>
                            <textarea class="form-control" id="monto" rows="3" v-model="form.monto"></textarea>
                        </div>
                          <div class="form-group">
                            <label for="body">Enlace</label>
                            <textarea class="form-control" id="archive" rows="3" v-model="form.archive"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Crear Nuevo Juego</button>
                    </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return {
            form:{
                title:'',
                category:'',
                body:'',
            },
            image:''
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys'
        })
    },
    methods:{
        ...mapActions({
            send_create_post:'post/createPost',
            get_all_categorys:'category/getCategorysAll'
        }),
        onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){
            //await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            //formData.append('image',this.image)
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))

            
            let data = {
                config:config,
                formdata:formData
            }
            await this.send_create_post(data)

        },
    },
    mounted(){
            this.get_all_categorys()
    }
}
</script>
