<template>
    <div class="row">
      
        <br><br>
        <div class="col-lg-3 mb-3" v-for="(post,index) in getposts.data" :key="index">
            <div class="card shadow mb-4 h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">

                       
                    </h6>
                    
                </div>
                <!-- Card Body -->
                <img :src="post.photo" width="100%" height="200px"/> 
       
         
            </div>
        </div>
    </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex' 
export default {
    name:'Posts',
    computed:{
        ...mapGetters({
            getposts:'post/reponsePosts'
        })
    },
    methods:{
        ...mapActions({
            getallposts:'post/getAllPost',
        }),
    },
    created(){
        this.getallposts()
    },
}
</script>
