<template>
    <div>
        <NavHome :color="color"/>
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Game over</h1>
                    
                    <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
                </div>
            </div>
        </header>


    
        <section class="about-section text-center" id="Noticias">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Noticias</h2>
                        <p class="text-white-50">
                            La quinta temporada de Street Figther V llega a Street Fighter V: Champion Edition y será la última. En ella veremos además de algunos cambios jugables nuevos personajes que se unen al ya extenso plantel de personajes jugables. Estos son los confirmados hasta ahora:
                            <a href="https://startbootstrap.com/theme/grayscale/"><!--the preview page--></a>
                        </p>
                    </div>
                </div>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/CEF9iAaS1Vg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="text-white-50">
                    Naoki Yoshida, productor de Final Fantasy XVI y responsable de Final Fantasy XIV, ha comentado que la nueva aventura de la saga de rol estará orientada principalmente a la acción. Como ya sabíamos, este Final Fantasy tendrá más puntos en común con los slash'em up que con el rol clásico, y aunque la serie siempre ha experimentado con sus batallas, este es el primero -entre los principales- que se decanta totalmente por un estilo ARPG. Final Fantasy XVI se lanzará en PlayStation 5.
                  </p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ctf2VH_s0gk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <img class="img-fluid" src="https://youtu.be/CEF9iAaS1Vg" alt="" />
                 <p class="text-white-50">
Resident Evil 8: Village promete mucho más contenido que Resident Evil 7. En una entrevista en el último número de Official PlayStation Magazine el productor Peter Fabiano revela algunos detalles de la nueva aventura de Ethan y Chris Redfield que se lanzará el 7 de mayo en PS5, Xbox Series X|S, PS4, Xbox One y PC. Preguntado por la duración aproximada de Village, Fabiano no da una cifra en horas pero sí confirma que será "mucho más grande" que Resident Evil 7, cuya duración aproximada era de 10 horas.

Los rumores de los últimos meses han apuntado a un mayor énfasis en la exploración de entornos abiertos, así que la duración podría depender mucho de los secretos que el jugador quiera descubrir; Resident Evil 7 en cambio era un juego más lineal, tanto en el interior de la mansión como en sus episodios fuera de ella. Resident Evil 7 también recibió contenido descargable, pero con una duración breve.                  </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/btFclZUXpzA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <p class="text-white-50">
               Among Us, el videojuego que causa sensación, llega a Nintendo Switch
El popular juego de misterio y asesinatos aterriza en las consolas híbridas de Nintendo. El mes pasado, «Among Us» tuvo casi 500 millones de usuarios. Conoce todos los detalles aquí.
           </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vlVeaz_l5Jg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        
        
            </div>
        </section>
        <!-- Projects-->

        <section class="projects-section bg-light" id="juegos">
            <div class="container">

 <!--mostrar todos los videojuegos-->
        <div class="row">
        <div class="col-lg-3 mb-4" v-for="(post,index) in getposts.data" :key="index">
            <div class="card shadow mb-4 h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                         <h6 class="m-0 font-weight-bold text-primary">
                        {{post.title}}
                    </h6>
                    </h6>
                    <div class="dropdown no-arrow">                       
                    </div>
                </div>
                <!-- Card Body -->
                <img :src="post.photo" width="100%" height="300px"/> 
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-default">
                                {{post.user.name}}
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span class="text-danger text-right d-block">
                                {{post.added}}
                            </span>
                        </div>
                    </div>
                    <p class="lead">{{post.body.substr(0,200)}}...</p>
                </div>
            </div>
        </div>
    </div>

            </div>
        </section>
      
        <!-- Contact-->
        <section class="contact-section bg-black" id="Contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">1ro de mayo esq 10 Noviembre</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="#!">epariaguilar@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">+1 (+591) 69640074</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="https://www.facebook.com/enriquegerman.pariaguilar/"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </section>
        
    </div>

    
</template>
<script>

import NavHome from '../components/NavHome'
import {mapGetters, mapActions} from 'vuex' 
export default {
    name:'Home',
    name:'Posts',
    data(){
        return {
            color:''
        }
    },
    computed:{
        ...mapGetters({
            getposts:'post/reponsePosts'
        })
    },
    methods:{
        ...mapActions({
            getallposts:'post/getAllPost',
        }),
    },
    created(){
        this.getallposts()
    },
    components:{NavHome},
}
</script>
