<template>
 <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="images/logo.svg" alt="logo" class="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Log in</h1>
            <form @submit.prevent = "submit">
              <div class="form-group">
                <label for="email">Email</label>
						<input id="email" class="input100" type="email" name="email" placeholder="Correo Electronico" v-model="form.email" autocomplete="off">
              </div>

              <div class="form-group mb-4">
                <label for="password">Password</label>
						<input class="input100" type="password" name="password"  id="password" placeholder="Password"  v-model="form.password">
              </div>
			  					<div class="container-login100-form-btn">
						<button class="btn btn-block login-btn">
							Inicio de Sesion
						</button>
					</div>

            </form>
            <a href="#!" class="forgot-password-link">Forgot password?</a>
            <p class="login-wrapper-footer-text">Don't have an account? <a href="#!" class="text-reset">Register here</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="images/login.jpg" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>	
</template>


<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
	name:'SignIn',
	components:{NavHome},
    data(){
        return {
            form:{
                email:'',
                password:''
			},
			color:'black'
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){
			try{

            await this.signIn(this.form)
            this.$router.replace({name:'dashboard.post'})
			} catch(error){
				this.$swal({
  title: 'error al iniciar sesion',
  width: 600,
  padding: '3em',
  backdrop: `
    rgba(0,0,123,0.4)
    url("images/tenor.gif")
    center top
    no-repeat
  `
})
			}
        }
    }
}
</script>
