
<!--<template>
	
		<div class="container-reg100">
		
				 <form action="#" @submit.prevent = "submit">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" v-model="form.name">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <div>
            <label for="password">Confirmar Contraseña</label>
            <input type="text" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
        </div>
        <button type="submit" >Registrarse</button>
    </form>

				<div class="login100-more img-login"></div>
			</div>
</template>-->
<template>
    <div class="container-reg100">
   
				 <form action="#" @submit.prevent = "submit">
		<h2>Registrar</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
         <div>
            <label for="name">Nombre</label>
            <input type="text"  class="form-control" name="name" id="name" v-model="form.name">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email"   class="form-control" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password"  class="form-control" name="password" id="password" v-model="form.password">
        </div>
        <div>
            <label for="password">Confirmar Contraseña</label>
            <input type="password"   class="form-control" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
    </form>

      
	
</div>
</template>
<style scoped>
    
</style>

<script>
import {mapActions} from 'vuex'
export default {
    name:'SignUp',
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>